img {
  height: 200px;
  display: inline-block;
  margin: 5px;
}

#img-0 {
width: 400px;
height: 400px;
}

#img-1 {
  border-radius: 100%;
}

#img-2 {

}

#img-3 {
  
}

#img-4 {
  
}

#img-5 {
  border-radius: 100%;
}

#img-6 {
  
}

#img-7 {
  
}

#img-8 {
  
}

#img-9 {
  align-content: center;
  width: 600px;
  height: 800px;
}

#img-10 {
  border-radius: 100%;
}

#img-11 {
  border-radius: 100%;
}
#img-20 {
  width: 700px;
  height: 600px;
}